body {
    margin: auto 0;
}

h1 {
    margin-top: 0px;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.fixed {
    position: fixed;
    background: lightgray;
    height: 100px;
    width: 150px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

.relative {
    background: grey;
    height: 200px;
    position: relative;
    text-align: center;
    padding: 10px;
}

.absolute {
    background: blue;
    position: absolute;
    height: 100px;
    width: 200px;
    left: 1100px;
    top: 300px;
    text-align: center;
    padding: 10px;
}

